.wrapper {
  position: relative;
}
.button {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 82px;

/* text-sm/leading-5/font-medium */

  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  /* identical to box height, or 143% */

  padding: 0;
  border: none;
  background: none;
  color: #4F46E5;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  }